<div>
     <h2>
        <span id="user-management-page-heading" jhiTranslate="addTask.form.tasks">Tasks</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['editUserTask']">
            <fa-icon [icon]="'plus'"></fa-icon> <span jhiTranslate="addTask.form.assignTask">Assign a task</span>
        </button> 
    </h2> 
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="tasks">
        <table class="table table-striped">
            <thead>
                
             <tr jhiSort [callback]="transition.bind(this)">
                 <th><span jhiTranslate="addTask.form.nameTask.label">Name Task</span> </th>
                <th><span jhiTranslate="addTask.form.typeTask.label">Type Task</span> </th>
                <th><span jhiTranslate="addTask.form.description.label">Description</span> </th>
                <th><span jhiTranslate="addTask.form.userChilds.label">User Childs</span></th>
                <th><span jhiTranslate="addTask.form.users.label">Users</span></th>
                <th><span jhiTranslate="addTask.weekDays">Week days</span></th>
                <th><span jhiTranslate="addTask.form.startDate.label">Start Date</span> </th>
                <th><span jhiTranslate="addTask.form.endDate.label">End Date</span> </th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf ="tasks">
             <tr *ngFor="let task of tasks">
                
                <td>{{task.nameTask}}</td>
                <td>
                    <div *ngFor="let typeTask of task.typeTasks">
                        <span class="badge badge-info">{{ typeTask }}</span>
                    </div>
                </td>
                <td>{{task.description}}</td>
               <!--  <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                            jhiTranslate="userManagement.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="currentAccount.login === user.login" jhiTranslate="userManagement.activated">Activated</button>
                </td> -->

                <td>
                    <div *ngFor="let userChild of task.userChilds">
                        <span class="badge badge-info">{{ userChild }}</span>
                    </div>
                </td>
                <td>
                    <div *ngFor="let user of task.users">
                        <span class="badge badge-info">{{ user }}</span>
                    </div>
                </td>
    
                <td>
                    <div *ngFor="let weekDay of task.weekDays">
                        <span class="badge badge-info">{{ weekDay }}</span>
                    </div>
                </td>
                <td>{{task.startDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{task.endDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                   <!--  <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['./', user.login, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['./', user.login, 'edit']"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="button" (click)="deleteUser(user)"
                                class="btn btn-danger btn-sm" [disabled]="currentAccount.login === user.login">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div> -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
